<app-dasboardd></app-dasboardd>
<div class="orders-container">
  <div class="order-card" *ngFor="let order of orders">
    <div class="order-header">
      <h2>{{ 'Order Number' | translate }}: {{ order.id }}</h2>
    </div>
    <div class="order-body">
      <p><strong>{{ 'Order Date' | translate }}:</strong> {{ order.orderDate }}</p>
      <p><strong>{{ 'Total Amount' | translate }}:</strong> {{ order.totalAmount }}</p>
      <p><strong>{{ 'Status' | translate }}:</strong>
        <select [(ngModel)]="order.status" (change)="updateOrderStatus(order.id!, order.status)">
          <option value="Pending">{{ 'Pending' | translate }}</option>
          <option value="Delivered">{{ 'Delivered' | translate }}</option>
          <option value="Cancelled">{{ 'Cancelled' | translate }}</option>
        </select>
      </p>
    </div>
    <div class="order-footer">
      <a class="btn btn-primary" [attr.href]="'#collapse' + order.id" role="button" data-bs-toggle="collapse" aria-expanded="false" [attr.aria-controls]="'collapse' + order.id" (click)="viewDetails(order)">
        {{ 'View Details' | translate }}
      </a>
      <button (click)="deleteOrder(order.id!)" class="btn btn-outline-danger">{{ 'Delete' | translate }}</button>
      <button (click)="assignEmployeeToOrder(order)" class="btn btn-outline-secondary">{{ 'Assign Employee' | translate }}</button>
    </div>
    
    <!-- Unique Collapsible Content for Each Order -->
    <div class="collapse" [id]="'collapse' + order.id">
      <div class="card card-body">
        <div *ngIf="selectedOrderId === order.id">
          <p><strong>{{ 'Order Date' | translate }}:</strong> {{ order.orderDate }}</p>
          <p><strong>{{ 'Total Amount' | translate }}:</strong> {{ order.totalAmount }}</p>

          <div *ngIf="employeeDetail">
            <p><strong>{{ 'Employee Name' | translate }}:</strong> {{ employeeDetail.firstName }} {{ employeeDetail.lastName }}</p>
            <p><strong>{{ 'Email' | translate }}:</strong> {{ employeeDetail.email }}</p>
            <p><strong>{{ 'Mobile Number' | translate }}:</strong> {{ employeeDetail.mobileNumber }}</p>
          </div>
          <div *ngIf="!employeeDetail">
            <p>{{ 'No employee details available' | translate }}</p>
          </div>

          <div *ngIf="assignedEmployeeId">
            <p><strong>{{ 'Assigned Employee ID' | translate }}:</strong> {{ assignedEmployeeId }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
