# Ignore node_modules
node_modules

# Ignore logs
logs
*.log

# Ignore environment files
*.env

# Ignore build output (if any)
dist
out-tsc

# Ignore IDE and OS files
.vscode
.idea
.DS_Store
Thumbs.db

# Ignore local configuration files
*.local

# Ignore package lock files if you don't want to include them
package-lock.json

# Ignore any test files
*.spec.ts
*.test.ts
coverage
