<div class="modal-container">
  <div class="modal-content">
    <h2>{{ 'Confirm Your Order' | translate }}</h2>
    <p><strong>{{ 'Order Details' | translate }}</strong></p>
    <div class="order-details">
      <p><strong>{{ 'Items' | translate }}</strong></p>
      <ul>
        <li *ngFor="let item of orderItems">
          {{ item.name }} - 
          <button (click)="changeQuantity(item, -1)">-</button>
          {{ item.quantity }}
          <button (click)="changeQuantity(item, 1)">+</button>
          x {{ item.price }}D
        </li>
      </ul>
      <p><strong>{{ 'Total Price' | translate }}</strong> {{ totalPrice }}D</p>
      <p><strong>{{ 'Preparation Time' | translate }}</strong>
        <input type="time" [(ngModel)]="preparationTime" />
      </p>
      <p *ngIf="alertMessage">{{ alertMessage }}</p>
    </div>
    <div class="modal-actions">
      <button (click)="confirmOrder()" class="btn btn-primary">{{ 'Confirm' | translate }}</button>
      <button (click)="cancelOrder()" class="btn btn-secondary">{{ 'Cancel' | translate }}</button>
    </div>
  </div>
</div>
