
                 <app-dasboardd></app-dasboardd>
                 <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm"  >
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="fname">{{'firstName'|translate}}</label>
                      <input type="text" class="form-control" id="fname" name="fname"  [(ngModel)]="user.firstName" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="lname">{{'lastName'|translate}}</label>
                      <input type="text" class="form-control" id="lname" name="lname"  [(ngModel)]="user.lastName" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="add1">{{'address'|translate}}</label>
                      <input type="text" class="form-control" id="add1" name="add1" [(ngModel)]="user.streetAddress" >
                    </div>
                  
                   
                    <div class="form-group col-md-6">
                      <label for="mobno"> {{'mobileNumber'|translate}}</label>
                      <input type="text" class="form-control" id="mobno" name="mobno" [(ngModel)]="user.mobileNumber" >
                    </div>
                   
                    <div class="form-group col-md-6">
                      <label for="email">  {{'Email'|translate}} </label>
                      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email">
                    </div>
                   
                    <div class="form-group col-md-12">
                      <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">{{'Add User'|translate}}</button>
                    </div>
                  </div>
                </form>
                