<div class="col-md-12 col-lg-12">
    <div class="card iq-glass-card rounded border border-white">
       <div class="card-header bg-transparent">
          <div class="d-flex justify-content-between align-items-center list-main">
             <h4>Categories</h4>
             <div class="d-flex">
                <a href="#" class="text-dark d-flex">View All
                   <svg width="24" height="24"  class="ms-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect width="24" height="24" rx="12" fill="#EA6A12"/>
                      <path d="M10.25 8.5L13.75 12L10.25 15.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                   </svg>
                </a>
             </div>
          </div>
       </div>
       <div class="card-body">
          <div class="iq-col-masonry m-0">
             <button type="button" class="btn btn-primary rounded iq-col-masonry-block">Burgers</button>
             <button type="button" class="btn btn-outline-primary rounded iq-col-masonry-block">Pizza</button>
             <button type="button" class="btn btn-outline-primary rounded iq-col-masonry-block">Soup</button>
             <button type="button" class="btn btn-outline-primary rounded iq-col-masonry-block">Dessert</button>
             <button type="button" class="btn btn-outline-primary rounded iq-col-masonry-block">Dessert</button>
             <button type="button" class="btn btn-outline-primary rounded iq-col-masonry-block">Biscuits</button>
             <button type="button" class="btn btn-outline-primary rounded iq-col-masonry-block"> cheese</button>
             <button type="button" class="btn btn-outline-primary rounded iq-col-masonry-block"> cheese</button>
             <button type="button" class="btn btn-outline-primary rounded iq-col-masonry-block">Tomato soup</button>
             <button type="button" class="btn btn-outline-primary rounded iq-col-masonry-block">Chicken fingers</button>
             <button type="button" class="btn btn-outline-primary rounded iq-col-masonry-block">Chicken </button>
             <button type="button" class="btn btn-outline-primary rounded iq-col-masonry-block">nuggets</button>
             <button type="button" class="btn btn-outline-primary rounded iq-col-masonry-block">Flatbread pizza</button>
             <button type="button" class="btn btn-outline-primary rounded iq-col-masonry-block">Soup</button>
             <button type="button" class="btn btn-outline-primary rounded iq-col-masonry-block">Flatbread pizza</button>
             <button type="button" class="btn btn-outline-primary rounded iq-col-masonry-block">cheese</button>
             <button type="button" class="btn btn-outline-primary rounded iq-col-masonry-block">Mini burgers</button>
             <button type="button" class="btn btn-outline-primary rounded iq-col-masonry-block">Mini burgers</button>
             <button type="button" class="btn btn-outline-primary rounded iq-col-masonry-block">Mini pizzas</button>
             <button type="button" class="btn btn-outline-primary rounded iq-col-masonry-block">Grilled Cheese</button>
             <button type="button" class="btn btn-outline-primary rounded iq-col-masonry-block">Grilled </button>
             <button type="button" class="btn btn-outline-primary rounded iq-col-masonry-block">Veggie Grill’s</button>
             <button type="button" class="btn btn-outline-primary rounded iq-col-masonry-block">Sandwich</button>
          </div>
       </div>
      
    </div>
     <div class="position-relative">
          <img src="../assets/images/layouts/40.png" alt="img-1" class="img-fluid img-user">
       </div>
 </div>


 <app-footer></app-footer>