<div class="menu-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="heading-title text-center">
          <h2>Special Menu</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="special-menu text-center">
          <div class="button-group filter-button-group">
            <button (click)="filterItems('all')" [class.active]="selectedCategory === 'all'">All</button>
            <button (click)="filterItems('MENUS')" [class.active]="selectedCategory === 'MENUS'">MENUS</button>
            <button (click)="filterItems('MIXORINI')" [class.active]="selectedCategory === 'MIXORINI'">MIXORINI</button>
            <button (click)="filterItems('MIXORINI MAX')" [class.active]="selectedCategory === 'MIXORINI MAX'">MIXORINI MAX</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row special-list">
      <div *ngFor="let item of filteredItems" class="col-lg-4 col-md-6 special-grid" [ngClass]="item.category">
        <div class="gallery-single fix">
          <img [src]="item.imageUrl" class="img-fluid" [alt]="item.name">
          <div class="why-text">
            <h4>{{ item.name }}</h4>
            <p>{{ item.description }}</p>
            <h5>{{ item.price }}D</h5>
            <!-- Add buttons for adding and removing items -->
            <div class="cart-buttons">
              <button (click)="removeFromCart(item)" class="btn btn-secondary">−</button>
              <span>{{ getItemQuantity(item) }}</span>
              <button (click)="addToCart(item)" class="btn btn-secondary">+</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Display total price -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Total: {{ totalPrice }}D</h3>
        <button class="place-order-button btn btn-primary" (click)="processOrder()" [disabled]="totalPrice === 0">Commander</button>
      </div>
    </div>
  </div>
</div>
